version: "3.9"

services:
  backend:
    build: ../backend
    ports:
      - "4000:4000"
    env_file:
      - ../backend/.env.dev
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  # frontend:
  #   image: node:18
  #   working_dir: /app
  #   volumes:
  #     - ../frontend:/app
  #   command: npm run dev
  #   ports:
  #     - "3000:3000"

  kafka:
  image: bitnami/kafka
  ports:
    - "9092:9092"
